*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'MuseoModerno', cursive;
}

body{
width: 100%;
height: 100vh;
background-color: #969191;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: #101010;
    padding: 10px;
    box-shadow: 0px 5px 20px #000;
    align-items: center;
    flex-wrap: wrap;
}
.menu{
    list-style: none;
    display: flex;
}
.menu li a{
color: white;
display: block;
text-decoration: none;
margin-left: 10px;
padding: 10px 20px 10px 20px;
border-radius: 10px;
}
.menu li a:hover{
    color: white;
    display: block;
    text-decoration: none;
    margin-left: 10px;
    background-color: #333;
    }

.logo{
width: 50px;
height:50px;
border-radius: 10px;


}
h1{
    color: #fff;
    text-align: center;
margin-top: 20px;
}
img{
width: 100%;
border-radius: 10px;

}
.container{
max-width: 1200px;
margin: 0 auto;
display: flex;
flex-wrap: wrap;
}
.container div{
  flex: 1 1 350px;
  margin: 10px;
    }
    .cor{

 color: azure;
    }
    .btn-1 {
        background: #D8DBDD;
        background-image: -webkit-linear-gradient(top, #D8DBDD, #3E4E68);
        background-image: -moz-linear-gradient(top, #D8DBDD, #3E4E68);
        background-image: -ms-linear-gradient(top, #D8DBDD, #3E4E68);
        background-image: -o-linear-gradient(top, #D8DBDD, #3E4E68);
        background-image: -webkit-gradient(to bottom, #D8DBDD, #3E4E68);
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        color: #FFFFFF;
        font-family: Georgia;
        font-size: 40px;
        font-weight: 100;
        padding: 10px;
        -webkit-box-shadow: 1px 1px 20px 21px #000000;
        -moz-box-shadow: 1px 1px 20px 21px #000000;
        box-shadow: 1px 1px 20px 21px #000000;
        text-shadow: 1px 1px 20px #000000;
        border: solid #8A8F95 2px;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        text-align: center;
        width: 270px;
        height: 70px;
     }
     
     .btn-1:hover {
        border: solid #444339 1px;
        background: #EF192D;
        background-image: -webkit-linear-gradient(top, #EF192D, #DFEB8A);
        background-image: -moz-linear-gradient(top, #EF192D, #DFEB8A);
        background-image: -ms-linear-gradient(top, #EF192D, #DFEB8A);
        background-image: -o-linear-gradient(top, #EF192D, #DFEB8A);
        background-image: -webkit-gradient(to bottom, #EF192D, #DFEB8A);
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        text-decoration: none;
     }
     .btn-2{
    align-items: center;
    text-align: center;
    justify-content: center;

     }